.header {
    background-color: aquamarine;
    height: 160px;
    color: black;
    
}
#href{font-size: 12px;
    margin: 5px 5px 5px 5px;

}
table{
    border-collapse: separate;
    border-spacing: 10px 20px;
}

.title{

    font-size: 20px;
    text-align: center;
    font-weight: 700px;
    color: black;
    border-color: rgb(1, 1, 5);
    border-radius:15px ;
    border-style: solid;
    margin: 2px 300px 2px 300px
    
}

.content1{
    height: 600px;
    background-color: #ddbf97;
}

.content2{
    height: 700px;
    background-color: rgb(185, 148, 148);

}
.alt{
    margin: 10px 30px 15px 20px;
    width: 50px;
    
}
.content3{
height: 200px;
background-color: rgb(157, 133, 180);

}
.button{
  background-color: #007bff; 
  color: white;  
  border: none; 
  border-radius: 10px; 
  font-size: 16px;
  text-shadow: black;
} 

.footer{
    height:600px ;
    background-color: aliceblue;
}

.menu {
    background-color: aqua;

}
p{
    color: blueviolet;
    text-align: center;
    
}
h3{
    color: rgb(116, 11, 11);
    font-size: 20px;
    text-align: center;
}
#logo{width: 80px;
    margin: 10px 50px 40px 30px;

}
img{
    width: 200px;
    border-radius: 20px;
}
